<table id="roms" class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">index</th>
<th title="Field #2">title</th>
<th title="Field #3">publisher</th>
<th title="Field #4">location</th>
<th title="Field #5">source</th>
<th title="Field #6">language</th>
<th title="Field #7">CRC32</th>
<th title="Field #8">comment</th>
</tr></thead>
<tbody><tr>
<td align="right">1</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>Eurasia</td>
<td>Japanese</td>
<td>D38763E1</td>
<td>https://www.nintendo.co.jp/n08/afej/</td>
</tr>
<tr>
<td align="right">2</td>
<td>Fire Emblem - Rekka no Ken (Japan)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>GBATemp</td>
<td>Japanese</td>
<td>F0C10E72</td>
<td>https://www.nintendo.co.jp/n08/ae7j/</td>
</tr>
<tr>
<td align="right">3</td>
<td>Fire Emblem (USA, Australia)</td>
<td>Nintendo</td>
<td>USA</td>
<td>Venom</td>
<td>English (US)</td>
<td>2A524221</td>
<td>https://tanasmanor.net/sites/fe7/</td>
</tr>
<tr>
<td align="right">4</td>
<td>Fire Emblem (Europe) (En,Fr,De)</td>
<td>Nintendo</td>
<td>Europe</td>
<td>Rising Sun</td>
<td>French English (US) German</td>
<td>4A805ED1</td>
<td>[Eng-Fre-Ger]</td>
</tr>
<tr>
<td align="right">5</td>
<td>Fire Emblem (Europe) (En,Es,It)</td>
<td>Nintendo</td>
<td>Europe</td>
<td>Rising Sun</td>
<td>English (US) Italian Spanish</td>
<td>9DECC754</td>
<td>[Eng-Ita-Spa]</td>
</tr>
<tr>
<td align="right">6</td>
<td>Fire Emblem - Seima no Kouseki (Japan)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>WRG</td>
<td>Japanese</td>
<td>9D76826F</td>
<td>https://www.nintendo.co.jp/n08/be8j/</td>
</tr>
<tr>
<td align="right">7</td>
<td>Fire Emblem - The Sacred Stones (USA, Australia)</td>
<td>Nintendo</td>
<td>USA</td>
<td>Trashman</td>
<td>English (US)</td>
<td>A47246AE</td>
<td>https://tanasmanor.net/sites/fe8/</td>
</tr>
<tr>
<td align="right">8</td>
<td>Fire Emblem - The Sacred Stones (Europe) (En,Fr,De,Es,It)</td>
<td>Nintendo</td>
<td>Europe</td>
<td>Rising Sun</td>
<td>French English (US) German Italian Spanish</td>
<td>B3005195</td>
<td> </td>
</tr>
<tr>
<td align="right">9</td>
<td>Fire Emblem - Rekka no Ken (Japan) (Beta) (06-02-2003)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>Hidden Palace</td>
<td>Japanese</td>
<td>B40D6854</td>
<td>https://serenesforest.net/blazing-sword/general/prototype-information/</td>
</tr>
<tr>
<td align="right">10</td>
<td>Fire Emblem - Rekka no Ken (Japan) (Beta) (19-02-2003)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>Hidden Palace</td>
<td>Japanese</td>
<td>8146A270</td>
<td>https://serenesforest.net/blazing-sword/general/prototype-information/</td>
</tr>
<tr>
<td align="right">11</td>
<td>Fire Emblem - Seima no Kouseki (Japan) (Beta)</td>
<td>Nintendo</td>
<td>Japan</td>
<td>Serenes Forest</td>
<td>Japanese</td>
<td>CD9D8972</td>
<td>https://serenesforest.net/the-sacred-stones/general/prototype-information/</td>
</tr>
<tr>
<td align="right">12</td>
<td>Fire Emblem - The Sacred Stones (USA) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>USA</td>
<td>Wii U Virtual Console</td>
<td>English (US)</td>
<td>DEA3B767</td>
<td> </td>
</tr>
<tr>
<td align="right">13</td>
<td>Fire Emblem (USA) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>USA</td>
<td>Wii U Virtual Console</td>
<td>English (US)</td>
<td>1B8713C7</td>
<td> </td>
</tr>
<tr>
<td align="right">14</td>
<td>Fire Emblem - The Sacred Stones (Europe) (En,Fr,De,Es,It) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>Europe</td>
<td>Wii U Virtual Console</td>
<td>French English (US) German Italian Spanish</td>
<td>2653401A</td>
<td>https://www.nintendo.co.uk/Games/Game-Boy-Advance/Fire-Emblem-The-Sacred-Stones-266749.html</td>
</tr>
<tr>
<td align="right">15</td>
<td>Fire Emblem (Europe) (En,Fr,De) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>Europe</td>
<td>Wii U Virtual Console</td>
<td>French English (US) German</td>
<td>335C5855</td>
<td>https://www.nintendo.co.uk/Games/Game-Boy-Advance/Fire-Emblem-266738.html</td>
</tr>
<tr>
<td align="right">16</td>
<td>Fire Emblem - Fuuin no Tsurugi (China)[iQue][CHS]</td>
<td>iQue</td>
<td>China</td>
<td>Hidden Palace</td>
<td>Chinese</td>
<td>8CEBEF1E</td>
<td> 神游版火纹战记（未发售）</td>
</tr>
<tr>
<td align="right">20</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[Superxyj][CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Superxyj</td>
<td>Chinese</td>
<td>823C3801</td>
<td>火焰纹章 - 封印之剑[Superxyj](简)</td>
</tr>
<tr>
<td align="right">21</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[CGP &amp; W_anthony][CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>CGP&amp;W_anthony</td>
<td>Chinese</td>
<td>4A7BF795</td>
<td>火焰纹章 - 封印之剑[CGP&amp;W_anthony](简)</td>
</tr>
<tr>
<td align="right">22</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[Wolf &amp; Chinafe](v20060906) [CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Wolf &amp; Chinafe</td>
<td>Chinese</td>
<td>1F19D989</td>
<td>http://www.fireemblem.net/fe/download/index.htm</td>
</tr>
<tr>
<td align="right">23</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Wolf &amp; Chinafe](v20090828) [CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Wolf &amp; Chinafe</td>
<td>Chinese</td>
<td>7AEF4EDC</td>
<td>火焰纹章 - 烈火之剑[狼组&amp;火花天龙剑](Fix) (简)</td>
</tr>
<tr>
<td align="right">24</td>
<td>Fire Emblem - Rekka no Ken (Japan)[CGP][CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>CGP</td>
<td>Chinese</td>
<td>042C159C</td>
<td>火焰纹章 - 烈火之剑[CGP](简)</td>
</tr>
<tr>
<td align="right">25</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Superxyj][CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Superxyj</td>
<td>Chinese</td>
<td>EAFA4EF0</td>
<td>火焰纹章 - 烈火之剑[Superxyj](简)</td>
</tr>
<tr>
<td align="right">26</td>
<td>Fire Emblem - Seima no Kouseki (Japan)[Wolf &amp; Chinafe](v20060906) [CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Wolf &amp; Chinafe</td>
<td>Chinese</td>
<td>79609D14</td>
<td>http://www.fireemblem.net/fe/download/index.htm</td>
</tr>
<tr>
<td align="right">27</td>
<td>Fire Emblem - Seima no Kouseki (Japan)[Bootleg &amp; Shuidechangleweiyang][CHS]</td>
<td>Bootleg Translation</td>
<td>Japan</td>
<td>Bootleg &amp; Shuidechangleweiyang</td>
<td>Chinese</td>
<td>223F8FC4</td>
<td>火焰纹章 - 圣魔之光石[盗版&amp;谁的长乐未央][简]</td>
</tr>
<tr>
<td align="right">28</td>
<td>Fire Emblem - Sword of Seals (English Translation v2.1)[Dark Twilkitri Net Translation Division]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Dark Twilkitri Net Translation Division</td>
<td>English (US)</td>
<td>35F5B06B</td>
<td>http://www.romhacking.net/translations/854/</td>
</tr>
<tr>
<td align="right">29</td>
<td>Fire Emblem - The Binding Blade (English Localization v1.1.3)[Gringle]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Gringle</td>
<td>English (US)</td>
<td>C5CCD529</td>
<td>https://forums.serenesforest.net/index.php?/topic/41095-fe6-localization-patch-v113-now-with-fully-functional-support-conversation-reader/</td>
</tr>
<tr>
<td align="right">30</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[Wolf &amp; Chinafe](v1.1)(2006090701) [CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Wolf &amp; Chinafe</td>
<td>Chinese</td>
<td>1CCF7040</td>
<td>火焰纹章 - 封印之剑[狼组&amp;火花天龙剑](v1.1)(2006090701) (简) (火花加料版)</td>
</tr>
<tr>
<td align="right">31</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Wolf &amp; Chinafe](v1.3)(20060908) [CHS]</td>
<td>Fan Translation</td>
<td>Japan</td>
<td>Wolf &amp; Chinafe</td>
<td>Chinese</td>
<td>4186D6E5</td>
<td>火焰纹章 - 烈火之剑[狼组&amp;火花天龙剑](v1.3)(20060908) (简)</td>
</tr>
<tr>
<td align="right">100</td>
<td>Fire Emblem - Heroes Remake</td>
<td>Fan Modding</td>
<td>Japan</td>
<td>laqieer</td>
<td>English (US) Japanese</td>
<td>1C4FCC59</td>
<td>https://github.com/laqieer/fe7-jp-stunning-tribble</td>
</tr>
</tbody></table>