<table id="roms" class="table table-bordered table-hover table-condensed">
<thead><tr>
<th>Index</th>
<th>Title</th>
<th>Publisher</th>
<th>Location</th>
<th>Source</th>
<th>Language</th>
<th>CRC32</th>
<th>Comment</th>
</tr></thead>
<tbody>
<tr>
<td>1</td>
<td><a href="https://www.nintendo.co.jp/n08/afej/">Fire Emblem - Fuuin no Tsurugi (Japan)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>Eurasia</td>
<td>Japanese</td>
<td>D38763E1</td>
<td></td>
</tr>
<tr>
<td>2</td>
<td><a href="https://www.nintendo.co.jp/n08/ae7j/">Fire Emblem - Rekka no Ken (Japan)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>GBATemp</td>
<td>Japanese</td>
<td>F0C10E72</td>
<td></td>
</tr>
<tr>
<td>3</td>
<td><a href="https://tanasmanor.net/sites/fe7/">Fire Emblem (USA, Australia)</a></td>
<td>Nintendo</td>
<td>🇺🇸</td>
<td>Venom</td>
<td>English</td>
<td>2A524221</td>
<td></td>
</tr>
<tr>
<td>4</td>
<td>Fire Emblem (Europe) (En,Fr,De)</td>
<td>Nintendo</td>
<td>🇪🇺</td>
<td>Rising Sun</td>
<td>French English German</td>
<td>4A805ED1</td>
<td>[Eng-Fre-Ger]</td>
</tr>
<tr>
<td>5</td>
<td>Fire Emblem (Europe) (En,Es,It)</td>
<td>Nintendo</td>
<td>🇪🇺</td>
<td>Rising Sun</td>
<td>English Italian Spanish</td>
<td>9DECC754</td>
<td>[Eng-Ita-Spa]</td>
</tr>
<tr>
<td>6</td>
<td><a href="https://www.nintendo.co.jp/n08/be8j/">Fire Emblem - Seima no Kouseki (Japan)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>WRG</td>
<td>Japanese</td>
<td>9D76826F</td>
<td></td>
</tr>
<tr>
<td>7</td>
<td><a href="https://tanasmanor.net/sites/fe8/">Fire Emblem - The Sacred Stones (USA, Australia)</a></td>
<td>Nintendo</td>
<td>🇺🇸</td>
<td>Trashman</td>
<td>English</td>
<td>A47246AE</td>
<td></td>
</tr>
<tr>
<td>8</td>
<td>Fire Emblem - The Sacred Stones (Europe) (En,Fr,De,Es,It)</td>
<td>Nintendo</td>
<td>🇪🇺</td>
<td>Rising Sun</td>
<td>French English German Italian Spanish</td>
<td>B3005195</td>
<td></td>
</tr>
<tr>
<td>9</td>
<td><a href="https://serenesforest.net/blazing-sword/general/prototype-information/">Fire Emblem - Rekka no Ken (Japan) (Beta) (06-02-2003)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>Hidden Palace</td>
<td>Japanese</td>
<td>B40D6854</td>
<td></td>
</tr>
<tr>
<td>10</td>
<td><a href="https://serenesforest.net/blazing-sword/general/prototype-information/">Fire Emblem - Rekka no Ken (Japan) (Beta) (19-02-2003)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>Hidden Palace</td>
<td>Japanese</td>
<td>8146A270</td>
<td></td>
</tr>
<tr>
<td>11</td>
<td><a href="https://serenesforest.net/the-sacred-stones/general/prototype-information/">Fire Emblem - Seima no Kouseki (Japan) (Beta)</a></td>
<td>Nintendo</td>
<td>🇯🇵</td>
<td>Serenes Forest</td>
<td>Japanese</td>
<td>CD9D8972</td>
<td></td>
</tr>
<tr>
<td>12</td>
<td>Fire Emblem - The Sacred Stones (USA) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>🇺🇸</td>
<td>Wii U Virtual Console</td>
<td>English</td>
<td>DEA3B767</td>
<td></td>
</tr>
<tr>
<td>13</td>
<td>Fire Emblem (USA) (Wii U Virtual Console)</td>
<td>Nintendo</td>
<td>🇺🇸</td>
<td>Wii U Virtual Console</td>
<td>English</td>
<td>1B8713C7</td>
<td></td>
</tr>
<tr>
<td>14</td>
<td><a href="https://www.nintendo.co.uk/Games/Game-Boy-Advance/Fire-Emblem-The-Sacred-Stones-266749.html">Fire Emblem - The Sacred Stones (Europe) (En,Fr,De,Es,It) (Wii U Virtual Console)</a></td>
<td>Nintendo</td>
<td>🇪🇺</td>
<td>Wii U Virtual Console</td>
<td>French English German Italian Spanish</td>
<td>2653401A</td>
<td></td>
</tr>
<tr>
<td>15</td>
<td><a href="https://www.nintendo.co.uk/Games/Game-Boy-Advance/Fire-Emblem-266738.html">Fire Emblem (Europe) (En,Fr,De) (Wii U Virtual Console)</a></td>
<td>Nintendo</td>
<td>🇪🇺</td>
<td>Wii U Virtual Console</td>
<td>French English German</td>
<td>335C5855</td>
<td></td>
</tr>
<tr>
<td>16</td>
<td>Fire Emblem - Fuuin no Tsurugi (China)[iQue][CHS]</td>
<td>iQue</td>
<td>🇨🇳</td>
<td>Hidden Palace</td>
<td>Chinese</td>
<td>8CEBEF1E</td>
<td> 神游版火纹战记（未发售）</td>
</tr>
<tr>
<td>20</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[Superxyj][CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Superxyj</td>
<td>Chinese</td>
<td>823C3801</td>
<td>火焰纹章 - 封印之剑[Superxyj](简)</td>
</tr>
<tr>
<td>21</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[CGP & W_anthony][CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>CGP&W_anthony</td>
<td>Chinese</td>
<td>4A7BF795</td>
<td>火焰纹章 - 封印之剑[CGP&W_anthony](简)</td>
</tr>
<tr>
<td>22</td>
<td><a href="http://www.fireemblem.net/fe/download/index.htm">Fire Emblem - Fuuin no Tsurugi (Japan)[Wolf & Chinafe](v20060906) [CHS]</a></td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Wolf & Chinafe</td>
<td>Chinese</td>
<td>1F19D989</td>
<td></td>
</tr>
<tr>
<td>23</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Wolf & Chinafe](v20090828) [CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Wolf & Chinafe</td>
<td>Chinese</td>
<td>7AEF4EDC</td>
<td>火焰纹章 - 烈火之剑[狼组&火花天龙剑](Fix) (简)</td>
</tr>
<tr>
<td>24</td>
<td>Fire Emblem - Rekka no Ken (Japan)[CGP][CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>CGP</td>
<td>Chinese</td>
<td>042C159C</td>
<td>火焰纹章 - 烈火之剑[CGP](简)</td>
</tr>
<tr>
<td>25</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Superxyj][CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Superxyj</td>
<td>Chinese</td>
<td>EAFA4EF0</td>
<td>火焰纹章 - 烈火之剑[Superxyj](简)</td>
</tr>
<tr>
<td>26</td>
<td><a href="http://www.fireemblem.net/fe/download/index.htm">Fire Emblem - Seima no Kouseki (Japan)[Wolf & Chinafe](v20060906) [CHS]</a></td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Wolf & Chinafe</td>
<td>Chinese</td>
<td>79609D14</td>
<td></td>
</tr>
<tr>
<td>27</td>
<td>Fire Emblem - Seima no Kouseki (Japan)[Bootleg & Shuidechangleweiyang][CHS]</td>
<td>Bootleg Translation</td>
<td>🇯🇵</td>
<td>Bootleg & Shuidechangleweiyang</td>
<td>Chinese</td>
<td>223F8FC4</td>
<td>火焰纹章 - 圣魔之光石[盗版&谁的长乐未央][简]</td>
</tr>
<tr>
<td>28</td>
<td><a href="http://www.romhacking.net/translations/854/">Fire Emblem - Sword of Seals (English Translation v2.1)[Dark Twilkitri Net Translation Division]</a></td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Dark Twilkitri Net Translation Division</td>
<td>English</td>
<td>35F5B06B</td>
<td></td>
</tr>
<tr>
<td>29</td>
<td><a href="https://forums.serenesforest.net/index.php?/topic/41095-fe6-localization-patch-v113-now-with-fully-functional-support-conversation-reader/">Fire Emblem - The Binding Blade (English Localization v1.1.3)[Gringle]</a></td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Gringle</td>
<td>English</td>
<td>C5CCD529</td>
<td></td>
</tr>
<tr>
<td>30</td>
<td>Fire Emblem - Fuuin no Tsurugi (Japan)[Wolf & Chinafe](v1.1)(2006090701) [CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Wolf & Chinafe</td>
<td>Chinese</td>
<td>1CCF7040</td>
<td>火焰纹章 - 封印之剑[狼组&火花天龙剑](v1.1)(2006090701) (简) (火花加料版)</td>
</tr>
<tr>
<td>31</td>
<td>Fire Emblem - Rekka no Ken (Japan)[Wolf & Chinafe](v1.3)(20060908) [CHS]</td>
<td>Fan Translation</td>
<td>🇯🇵</td>
<td>Wolf & Chinafe</td>
<td>Chinese</td>
<td>4186D6E5</td>
<td>火焰纹章 - 烈火之剑[狼组&火花天龙剑](v1.3)(20060908) (简)</td>
</tr>
<tr>
<td>100</td>
<td><a href="https://github.com/laqieer/fe7-jp-stunning-tribble">Fire Emblem - Heroes Remake</a></td>
<td>Fan Modding</td>
<td>🇯🇵</td>
<td>laqieer</td>
<td>English Japanese</td>
<td>1C4FCC59</td>
<td></td>
</tr>
</tbody></table>
