.row {
  margin: 10px -16px;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
}

/* Create three equal columns that floats next to each other */
.column {
  width: 260px;
  display: none; /* Hide all elements by default */
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.myBtn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.myBtn:hover {
  background-color: #ddd;
}

.myBtn.active {
  background-color: #666;
  color: white;
}

/* Full card click */
.fullclick .content {
  position: relative;
}

.fullclick a {
  text-decoration: none;
  z-index: 1;
}

.fullclick .content a::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
}

/* Hover effect */
.fullclick .content:hover,
.fullclick .content:focus-within {
  background: lightgray;
  box-shadow: 0 3px 6px gray;
}
